@import url('https://unpkg.com/bootstrap/dist/css/bootstrap.min.css');
@import url('https://erikflowers.github.io/weather-icons/css/weather-icons.css');

body { background: #fdfdfd; }

a, a:hover { text-decoration: none;}

ul { list-style: none; }

#top-bar {
  border-top: #f63700 solid 3px;
  padding: 0.5em 0;
} 

.title { color: #f63700; }

.weather-card { text-transform: capitalize; }
.weather-card-core {  font-size: 4.8em; }
.weather-card-icon { font-size: 0.8em; padding: 0.5em 0; color: #f63700; }
sup {font-size: 0.25em; vertical-align: super;}
.hidden { display: none; }
.c-control, .f-control { cursor: pointer; }
.not-in-use { color: #f63700; }

.orange { background: #f63700; border-color: #f63700; }
.orange:hover { background: #f63700; border-color: #f63700; }

.highlight { color: #f63700; }
.black { color: #000 !important; cursor: default; }

#sales-content { margin-top: 1.5em; overflow: auto; }